

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


/* Todos os conteúdos */ 

* {

  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
}

html {
  scroll-behavior: smooth;

}

/* Conteúdo da Dashbord*/ 


.dash {
  width: 80%;
  position: relative;
  top: 0;
  left: 20%;
  background-color: #ca9e94;
  height: 100vh;
  overflow: auto;
}


/* Design da NavBar */

/* .janela { */
  /* display: flex; */
  /* width: 100vw; */
/* } */

.header-left a {
  text-decoration: none;
  color: white;
}

/* Linha da NavBar, a Esquerda */ 

.header-left {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  height: 100vh;
  width: 20%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  border-right: 8px solid #d38f80;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  background-color: #da9180;
}

/* Conteudo da Configuração página, a direita */




h4{
  font-weight: 400;
  display: flex;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.C:hover {
  animation: spin 1s linear infinite; /* Aplica a animação apenas quando o mouse passa por cima */
}

.C{
  margin-right: 0.5vh;
  margin-top: -0.3vh;
} 

.D{
  
  transform: translateY(-0.3vh) translateX(-1vh);
  
}

.Q{
  transform: translateY(0vh) translateX(-1vh); 
}

.btn-nav {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 6vh;
  width: max-content;
  color: white;
  background-color:#D69D90;
  border-radius: 40px;  
  padding: 2% 5%;
}

.btn-nav-white {
  font-weight: 200;
  display: flex;
  justify-content: center;
  flex-direction: row;
  width: 30vh;
  border: 3px solid none;
  border-radius: 5px;
  padding: 4% 5%;
}

.btn-nav-white h3 {
  color: white;
  padding: 0;
  margin: 0;
}

.btn-nav:hover, .btn-nav-white:hover,.btn-nav-white:hover {
  transform: scale(1.1);
  transition:  0.3s;
}

.btn-nav, .btn-nav-white,.btn-nav-white  {
  transition: 0.2s;
  font-size: x-large;
}


/* Botao sair */
.botaoLogout {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 45px;
  height: 45px;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  transition-duration: .3s;
  background-color: #d62a2a;

}
/* plus sign */
.sign {
  width: 100%;
  transition-duration: .3s;
  display: flex;
  align-items: center;
  justify-content: center;
}
.sign svg {
  width: 17px;
}
.sign svg path {
  fill: white;
}
/* text */
.text {
  position: absolute;
  right: 0%;
  width: 0%;
  opacity: 0;
  color: white;
  font-size: 1.2em;
  font-weight: 600;
  transition-duration: .3s;
}
/* hover effect on button width */
.botaoLogout:hover {
  width: 125px;
  border-radius: 40px;
  transition-duration: .3s;
}
.botaoLogout:hover .sign {
  width: 30%;
  transition-duration: .3s;
  padding-left: 20px;
}
/* hover effect button's text */
.botaoLogout:hover .text {
  opacity: 1;
  width: 70%;
  transition-duration: .3s;
  padding-right: 5px;
}
/* button click effect*/
.botaoLogout:active {
  transform: translate(2px, 2px);
}

.botaoLogout h3 {
  margin: 0;
  padding: 0;
}



.hello {
  width: 100%;
  display: flex;
  justify-content: center;
}

.hello h3 {
  color: #ffffff;
  font-weight: 300;
  font-size: 1.6rem;
}

.hello h3 span {
  font-weight: 800;
  color: #7b483d;
}
