/* Reset CSS */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* Deixa o scroll mais suave */

html {
    scroll-behavior: smooth;

}



a {
    color: inherit;
    /* Herda a cor do texto do elemento pai */
    text-decoration: none;
    /* Remove o sublinhado padrão */
}


.logo{
    transition: 0.5s;
}

.logo:hover{
    transform: scale(1.1);
}


/* div mae para conter o body inteiro */
.mae {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
    width: 100%;
    height: 100vh;
    color: white;
}

/* Espaço Home */

.nav {
    width: 100%;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    padding-top: 15px;
    height: 100px;
}


/* Conteúdo do Site */

.corpoHome {
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-image: linear-gradient(to bottom, #BF604B, #7C587E);

}

.sobre,
.contato {
    cursor: pointer;
    transition: border-color 0.4s;
    border-bottom: 2px solid transparent;
    transition: 0.5s
}


.sobre:hover,
.contato:hover {
    cursor: pointer;
    transition: 0.4s;
    border-bottom: 2px solid white;
    transform: scale(1.1);
}


.Textonav {
    font-size: larger;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 30%;
    margin-left: 48%;

}


.logo {

    width: 6.5%;
    margin-left: 10%;

}

/* texto do corpo home */

.conteudoHome {
    width: 100%;
    height: 555px;
    color: white;
    position: relative;
    /* Define position relative para os elementos filhos */
    z-index: 1;
    /* Define um z-index maior para que o conteúdo fique na frente da imagem */
}


.bemVindo {
    width: max-content;
    font-weight: 250;
    margin-left: 15%;
    height: min-content;
    margin-bottom: 4vh;
}


.sintonizaMente {
    font-size: 80px;
    width: min-content;
    height: min-content;
    transform: translate(-1vh);
}

.textoSintetize {
    width: 55%;
    height: 100px;
    margin-top: 7vh;
}

.textoCorpo {
    font-size: 3.3vh;
    margin-left: 10vh;
    margin-bottom: 5vh;
    margin-top: 2vh;
}


.e,
.mente {
    color: #FFC1B3;
    font-weight: bold;
}

.p {
    color: #F2CEA2;
}


.meninaimg {
    position: absolute;
    top: 7px;
    left: 800px;
    width: 100vh;
    /* ajusta o tamanho caso sair pra fora da tela  */
    height: 90vh;
    z-index: 0;
    /* Define um z-index menor para que a imagem fique na frente da cor de fundo */
    transform: translateX(-60px);
}


.imagemFundo {
    width: 100vh;
    height: 100%;
    object-fit: cover;
}


.button {
    margin-top: 9vh;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40%;
    height: 12vh;
    color: white;
    transition: 0.5s;
    border: solid 2px white;
    text-decoration: none;
    transform: translateX(11vh);
}

.button:hover {
    background-color: #ffffff;
    color: #7C587E;
    transition: 0.5s;
    border: none;
}


/* Espaço Sobre o Projeto */

.corpoSP {
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(to bottom, #7C587E, #a570a8);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    overflow: hidden;
}

.iconLivro,
.iconCelular {
    position: absolute;

}

.iconLivro:last-of-type {
    left: 10vh;
}

.iconCelular:first-of-type {
    right: 7vh;
}

.iconCelular {
    margin-top: -10vh;

}

.iconLivro {
    margin-left: 30px;
    margin-top: -70vh;

}

.tituloSP {
    font-size: xx-large;
    margin-top: -10vh;

}

.textoSP {
    margin-top: 10vh;
    font-size: larger;
}

.texto1SP {
    margin-left: 5vh;
    margin-bottom: 3vh;
}


.texto2SP {
    margin-left: 5vh;
}


/* citação */

.corpoC {
    font-size: xx-large;
    font-weight: 200;
    width: 100%;
    height: 120vh;
    background-image: linear-gradient(to bottom, #a570a8, #c374c7, #EF9188);
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

}

.textoC {
    margin-bottom: 12vh;
}

.textoRestante {
    font-weight: 400;
    display: flex;
    justify-self: center;
    align-items: center;
    text-align: center;
    margin-left: 15vh;
}

.onu {
    transition: 0.5s
}

.onu:hover {
    transform: scale(1.1);
    transition: 0.5s
}

.buttonFonte {
    margin-left: 75vh;
    transition: 0.5s;
    width: 25%;
    border: 2px solid transparent;
}

.buttonFonte:hover {
    transform: scale(1.1);
    transition: 0.5s;
    background-color: #ffff;
    color: #EF9188;

}

/* Espaço Contato/Footer */



.corpoFooter {
    width: 100%;
    height: 100vh;
    background-color: #EF9188;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.tituloHeader {

    font-size: x-large;
    transform: translateY(-4vh);

}

.conteudoFooter {
    display: flex;
    transform: translateY(-2vh);
}


#mensagem_erro {
    width: 75%;
    height: 25%;
    background-color: blue;
}

.corpoFaleC {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 35vh;
    height: min-content;
    margin-left: 50vh;
    transform: translateX(9vh);

}

.quadradoMensagem {
    background-color: #BF604B;
    width: 60vh;
    height: 65vh;
    display: flex;
    justify-content: center;
    align-items: center;

}

form {
    width: 40vh;
    height: max-content;
}

input::placeholder {
    color: inherit;
    font-size: large;
}

.Nome {
    margin-bottom: 5vh;
}

.mensagem {
    height: 20vh;
    margin-bottom: 5vh;
}

input {
    border: none;
    /* Remove qualquer borda padrão */
    border-bottom: 3px solid #F2CEA2;
    outline: none;
    /* Remove o contorno padrão quando o input está focado */
    padding: 1vh;
    appearance: none;
    font-family: inherit;
    font-size: small;
    color: inherit;
    width: 40vh;
    background-color: transparent;
}

.btnEnviar {

    color: inherit;
    background-color: #F2CEA2;
    font-weight: 500;
    font-size: x-large;
    font-family: inherit;
    border: none;
    background-color: none;
    width: 40vh;
    height: 7vh;
    transition: 0.5s;
    transition: 0.5s;
    border: 2px solid transparent;

}


.btnEnviar:hover {

    transition: 0.5s;
    background-color: #ffff;
    color: #BF604B;

}

.enderecoMedia {
    width: 25vh;
    transform: translateY(7vh);
}

.socialMedia {
    display: flex;
    width: min-content;
    height: min-content;
}

.bolhaLink,
.bolhaInsta {
    transition: 0.5s;
}

.bolhaInsta {
    margin-left: 2vh;

}

.bolhaLink:hover,
.bolhaInsta:hover {
    transform: scale(1.2);
}

.conteudoCopy {
    font-size: large;
    transform: translateY(5vh);

}

.tituloRS {
    height: min-content;
    width: 30vh;
}


.centralizandoLinha {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50%;
    transform: translateY(100px);
}

.linha {
    transform: translateX(25vh);
    border-radius: 4px;
    width: 4px;
    /* Largura da linha */
    height: 35vh;
    /* Altura da linha */
    background-color: #F2CEA2;
    /* Cor da linha */
}

.success,
.error {
    text-align: center;
}

.success {
    color: greenyellow;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.error {
    color: tomato;
}